* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
